# Unity Generated
/[Tt]emp/
/[Ll]ibrary/
/[Oo]bj/
/Assets/AssetStoreTools*
sysinfo.txt
*.pidb.meta

# Builds
/[Bb]uild/
/[Bb]uilds/
*.apk
*.unitypackage

# OS generated
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows Installer Files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Visual Studio / MonoDevelop generated
ExportedObj/
*.csproj
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.tmp

# User Generated
Bin/
debug/

# Haxxis specific
Captures/
TestScripts/StartupLocal.txt
TestScripts/StandaloneBuildVersion.txt

